
<table>
<thead>
    <th>Headline</th>
    <th></th>
</thead>
<tbody>
    {{#each article}}
    <tr>
    
        <td><a href="{{this.link}}">{{this.title}}</a></td>
    </tr>
    {{/each}}

</tbody>
</table>
